.main-content-data {
  background-color: var(--primary-color);
  padding: 20px;
  box-shadow: 0 0 0 0.9px var(--color-border);
  border-radius: 16px;
}

.cashier-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cashier-info-detail {
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
}

.cashier-name, .cashier-email, .cashier-role {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-weight: 500;
}

.input-text {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  min-height: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.2s ease;
  color: var(--primary-font-color);
}

.input-text:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 0 1px var(--secondary-color);
  outline: none;
}

.input-text:disabled {
  background-color: white;
  cursor: not-allowed;
}

.change-password-title {
  margin-top: 20px;
  font-weight: 550;
}

.change-password {
  display: flex;
  flex-direction: column;
}

.change-password-detail {
  margin-top: 20px;
  display: flex;
  flex-direction: row ;
  width: 100%;
  height: auto;
  gap: 20px;
}

.confirm-change-password-field, .change-password-field {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-weight: 500;
}

/*                       STYLE BUTTON SIMPAN                  */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.button-simpan {
  width: 140px;
  appearance: none;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: var(--primary-font-color);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-simpan:hover {
  background-color: #f2f4f7;
  color: var(--primary-font-color);
  text-decoration: none;
  transition-duration: 0.1s;
}