.main-content-data {
  gap: 20px;
}

/*                       STYLE UNTUK TABLE                  */
.product-name-header {
  width: 450px;
  line-height: 1.25;
}

.product-category-header {
  width: 120px;
}

.product-price-header {
  width: 160px;
}

.product-quantity-header {
  width: 120px;
}

.product-total-price-header {
  width: 160px;
}

/* --- Header Bagian Info Customer --- */
.transaction-header {
  background-color: #f8fafc;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.trans-info,
.customer-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 12px;
  color: var(--secondary-font-color);
  text-transform: uppercase;
  font-weight: 600;
}

.value {
  font-weight: bold;
  color: var(--primary-font-color);
  font-size: 14px;
}

.date {
  font-size: 12px;
  color: var(--secondary-font-color);
}
