body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  max-width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header img {
  max-width: 125px;
}

main {
  padding: 20px;
  flex: 1;
}

.hero .title {
  /* background-color: #d5d9d9; */
  font-size: 32px;
  line-height: 50px;
  font-weight: 700;
}

.hero .sub-title {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 500;
}

.hero .description {
  margin-top: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #575757;
}

.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #ec0029;
  cursor: pointer;
  display: inline-block;
  font-weight: 550;
  font-size: 20px;
  line-height: 29px;
  padding: 0 10px 0 10px;
  position: relative;
  text-align: center;
  width: 200px;
  height: 40px;
  margin-top: 15px;
}

.button:hover {
  background-color: #f7fafa;
}

.button:focus {
  border: 2px solid #ec0029;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.button a {
  text-decoration: none;
  color: black;
}

.footer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 15px;
  max-width: 100%;
  color: white;
  background-color: #000000;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.footer img {
  max-width: 125px;
}

.contact h2,
.email,
.phone {
  margin-top: 10px;
}

.email a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.copyright {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #f7fafa;
  min-width: 100%;
  text-align: center;
  line-height: 1.4;
}

@media (min-width: 768px) {
  body {
    overflow-y: hidden;
  }

  .header {
    height: 70px;
  }

  .header img {
    max-width: 175px;
  }

  .button {
    width: 300px;
    height: 50px;
  }

  main {
    padding-top: 40px;
    flex: 1;
  }

  .hero .title {
    font-size: 32px;
  }

  .hero .sub-title {
    margin-top: 25px;
    font-size: 24px;
  }

  .hero .description {
    font-size: 22px;
  }

  .hero .login-description {
    margin-top: 40px;
  }
}
